<!doctype html>
<html>

<head>
  <title>{{ title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.42.1/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
          </svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-3 shadow bg-base-100 rounded-box w-52">
          <li><a href="{{url_for('smetablepage')}}">Homepage</a></li>
          <li><a href="{{url_for('searchpage')}}" >Search</a></li>
          <li><a href="{{url_for('display')}}">Profile</a></li>
          <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <!-- <a class="btn btn-ghost normal-case text-xl">ticketCOG</a> -->
      <img src="https://demo.themesberg.com/windster/images/logo.svg" class="h-8 mr-2" alt="TicketCog Logo">
				<a class="btn btn-ghost normal-case text-2xl">TicketCOG</a>
    </div>
    <div class="navbar-end">
      <div class="flex space-x-4 align-middle ">
        <input
          class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
          type="text" id="myInput" onkeyup="myFunction()" placeholder="Search " title="Type in a name or a country">
      </div>
      <div class="dropdown dropdown-end mr-5 space-x-2">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <div class="avatar">
            <div class="w-8 rounded-full">
              <img src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png" />
            </div>
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-3 shadow bg-base-100 rounded-box w-52">
          <li><a href="{{url_for('display')}}">Profile</a></li>
          <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="spacing m-4 ">
    <div class="info bg-violet-700 p-5 rounded-md">
      <h2 class="text-xl text-white font-semibold">
        Welcome To Subject Matter Expert Page
      </h2>
      <!-- <h3 class="text-lg text-white font-regular">
        Here are all asigned tickets
      </h3> -->
    </div>
  </div>

  <section class="mr-5 ml-5">
  <div style="overflow-x:auto;">
    <table id="myTable" class="table-fixed rounded-lg">
      <thead class="rounded-lg bg-slate-300 p-2 rounded-md">
        <tr data-widget="expandable-table" aria-expanded="false">
          <th class="rounded-l-md p-2"onclick="sortTable(0)">ID</th>
          <th class="text-left p-3" onclick="sortTable(1)">Issue Subject</th>
          <th class="text-left p-3 m-2 " onclick="sortTable(3)">Status</th>
          <th class="text-left p-3 m-2 " onclick="sortTable(4)">Priority</th>
          <th class="text-left p-3 m-2 " onclick="sortTable(5)">Category</th>
          <th class="text-left p-3 m-2 " onclick="sortTable(6)">User ID</th>
          <th class="text-left p-3 m-2 " onclick="sortTable(7)">Created at</th>
          <th class="text-left p-3 m-2 " onclick="sortTable(8)">Application name</th>
          <th class="text-left p-3 m-2 " onclick="sortTable(9)">Resolved date</th>
          <th class="p-3 m-2 rounded-r-md " onclick="sortTable(11)">Action</th>
          <!-- <th onclick="sortTable(10)">Closed date</th> -->
          <!-- <th onclick="sortTable(11)">Resolved By</th>  -->


        </tr>
      </thead>
      <tbody>
        {% for row in value %}
        <!-- {{row}}   -->
        <tr class="expandable-body divide-y">
          <td class="p-3 text-left font-medium text-base ">{{row["ticketid"]}}</td>
          <td class="p-3 text-left font-medium text-base ">{{row["subject"]}}</td>
          <!-- <td>{{row["description"]}}</td> -->
          {% if row["status_name"] == "In Progress"%}
          <td class="p-3 text-left font-medium text-base " style="color: blue;">
            {% elif row["status_name"] == "Resolved"%}
          <td class="p-3 text-left font-medium text-base " style="color: rgb(128, 0, 96);">
            {% elif row["status_name"] == "Queued"%}
          <td class="p-3 text-left font-medium text-base " style="color: rgb(255, 149, 0);">
            {% elif row["status_name"] == "Reopen"%}
          <td class="p-3 text-left font-medium text-base " style="color: red;">
            {% elif row["status_name"] == "Closed"%}
          <td class="p-3 text-left font-medium text-base " style="color: green;">

            {%else %}
          <td>{%endif %} {{row["status_name"]}}</td>


          {% if row["priority_name"] == "High"%}
          <td class="text-center ml-3 mt-4 inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-baseline text-amber-800 text-xs font-semibold bg-red-100 rounded">
            {% elif row["priority_name"] == "Low"%}
          <td class="text-center ml-3 mt-4 inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-baseline bg-blue-100 text-blue-800 text-xs font-semibold rounded">
            {% elif row["priority_name"] == "Medium"%}
          <td class="text-center ml-3 mt-4 inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-baseline bg-yellow-100 text-yellow-800 text-xs font-semibold rounded">

            {%else %}
          <td class="text-center ml-3 mt-6 inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-baseline text-red-800 text-xs font-semibold bg-red-300 rounded">{%endif %}
            {{row["priority_name"]}}</td>
          <td class="p-3 text-left font-medium text-base ">{{row["Category"]}}</td>
          <td class="p-3 text-left font-medium text-base ">{{row["user_id"]}}</td>
          <td class="p-3 text-left font-medium text-base ">{{row["created_at"]}}</td>
          <td class="p-3 text-left font-medium text-base ">{{row["application_name"]}}</td>
          <td class="p-3 text-left font-medium text-base ">{{row["resolved_date"]}}</td>
          <!-- <td>{{row["closed_date"]}}</td> -->
          <!-- <td>{{row["closed_by"]}}</td> -->
          {%if( row["status_name"] == "Closed" or row["status_name"] == "Resolved")%}
          <td></td>
          <td></td>
          {%else%}
          <td> <a href="{{url_for('smeKedbAdd')}}?ticketid={{row['ticketid']}}" class="btn btn-primary text-white w-48">Open ticket and
              add resolution</a></td>
          {%endif%}



        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
          // Start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /* Loop through all table rows (except the
          first, which contains table headers): */
          for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /* Check if the two rows should switch place,
            based on the direction, asc or desc: */

            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
            if (Number(x.innerHTML) > Number(y.innerHTML)) {
              shouldSwitch = true;
              break;
            }

          }
          if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            // Each time a switch is done, increase this count by 1:
            switchcount++;
          } else {
            /* If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again. */
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }

        }
      }
      const myFunction = () => {
        const trs = document.querySelectorAll('#myTable tr:not(.header)')
        const filter = document.querySelector('#myInput').value
        const regex = new RegExp(filter, 'i')
        const isFoundInTds = td => regex.test(td.innerHTML)
        const isFound = childrenArr => childrenArr.some(isFoundInTds)
        const setTrStyleDisplay = ({ style, children }) => {
          style.display = isFound([
            ...children // <-- All columns
          ]) ? '' : 'none'
        }

        trs.forEach(setTrStyleDisplay)
      }



    </script>

  </div>
</section>
</body>

</html>